body{
	font-family: 'Open Sans', sans-serif;
}
.style-0{
	font-size: 30px;
	font-family: 'Turret Road', cursive;
	color: rgb(255, 50, 0);
}
.style-0:hover{
	color: rgb(255, 50, 0);
	text-decoration: none;
}